# Ejercicio 1 (Continuación)

#### *i)* Si tuviese que eliminar dos variables cuales serían y porqué. Use SelectKBest

In [43]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [44]:
data=pd.read_csv("covid.csv",header=0)

data=data.drop(["Unnamed: 0"],axis=1)
data

,SEXO,OBESIDAD,DIABETES,EPOC,ASMA,CARDIOVASCULAR,RENAL CRONICA,INMUNOSUPRESION,HIPERTENSION,TIPO PACIENTE,EDAD
0,MUJER,NO,NO,NO,NO,NO,NO,NO,NO,AMBULATORIO,51
1,MUJER,NO,NO,NO,NO,NO,NO,NO,NO,AMBULATORIO,37
2,HOMBRE,NO,NO,NO,NO,NO,NO,NO,NO,AMBULATORIO,18
3,HOMBRE,NO,NO,NO,NO,NO,NO,NO,NO,AMBULATORIO,40
4,MUJER,NO,SI,NO,NO,NO,SI,NO,SI,HOSPITALIZADO,78
...,...,...,...,...,...,...,...,...,...,...,...
347497,HOMBRE,NO,NO,NO,NO,NO,NO,NO,NO,AMBULATORIO,9
347498,MUJER,NO,NO,NO,NO,NO,NO,NO,NO,AMBULATORIO,35
347499,HOMBRE,SI,NO,NO,NO,NO,NO,NO,SI,AMBULATORIO,57
347500,MUJER,NO,NO,NO,NO,NO,NO,NO,SI,AMBULATORIO,71
347501,HOMBRE,NO,NO,NO,NO,NO,NO,NO,NO,AMBULATORIO,25

Notemos que tenemos a priori 10 covariables. Efecteumos un Label Encoder para transformar las variables categóricas en numéricas.

In [45]:
#Apliquemos un StringIndexer
col=["SEXO","OBESIDAD","DIABETES","EPOC","ASMA","CARDIOVASCULAR","RENAL CRONICA","INMUNOSUPRESION","HIPERTENSION","TIPO PACIENTE"]
def stringIndexer(df,col):
    X=df
    for i in col:
        X[i+"strindexer"]=LabelEncoder().fit_transform(X[i])  # Pasando de string a numericos
        X=X.drop(i,1)
    return X

In [46]:
X=stringIndexer(data, col)
y=X.pop("TIPO PACIENTEstrindexer")
X

,EDAD,SEXOstrindexer,OBESIDADstrindexer,DIABETESstrindexer,EPOCstrindexer,ASMAstrindexer,CARDIOVASCULARstrindexer,RENAL CRONICAstrindexer,INMUNOSUPRESIONstrindexer,HIPERTENSIONstrindexer
0,51,1,0,0,0,0,0,0,0,0
1,37,1,0,0,0,0,0,0,0,0
2,18,0,0,0,0,0,0,0,0,0
3,40,0,0,0,0,0,0,0,0,0
4,78,1,0,1,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...
347497,9,0,0,0,0,0,0,0,0,0
347498,35,1,0,0,0,0,0,0,0,0
347499,57,0,1,0,0,0,0,0,0,1
347500,71,1,0,0,0,0,0,0,0,1
347501,25,0,0,0,0,0,0,0,0,0

In [47]:
y

0         0
1         0
2         0
3         0
4         1
         ..
347497    0
347498    0
347499    0
347500    0
347501    0
Name: TIPO PACIENTEstrindexer, Length: 347502, dtype: int32

Ahora, utilicemos la función SelectKBest para seleccionar a 8 covariables top del conjuto de 10 respecto a los scores mas altos.

In [48]:
from sklearn.feature_selection import SelectKBest, f_classif
fselect = SelectKBest(f_classif, k=8)  
scores_fit = fselect.fit(X, y)
features_score = scores_fit.scores_.round(2)

features_score

array([65598.26,  3722.98,  1733.8 , 25650.56,  3168.24,   105.73,
        2563.4 ,  5356.51,  1500.29, 21641.63])

En una tabla, los resultados son los siguientes:

In [50]:
features= list(X.columns.values)
selected_features = fselect.get_support([scores_fit])
feat_list = [ ]
for i in selected_features:
    feat_list.append({'Feature':features[i], 'Score': features_score[i]  })
features_select = pd.DataFrame(feat_list)
features_select.sort_values('Score',ascending =False)

                    Feature     Score
0                      EDAD  65598.26
3        DIABETESstrindexer  25650.56
7    HIPERTENSIONstrindexer  21641.63
6   RENAL CRONICAstrindexer   5356.51
1            SEXOstrindexer   3722.98
4            EPOCstrindexer   3168.24
5  CARDIOVASCULARstrindexer   2563.40
2        OBESIDADstrindexer   1733.80

In [51]:
X.columns.values

array(['EDAD', 'SEXOstrindexer', 'OBESIDADstrindexer',
       'DIABETESstrindexer', 'EPOCstrindexer', 'ASMAstrindexer',
       'CARDIOVASCULARstrindexer', 'RENAL CRONICAstrindexer',
       'INMUNOSUPRESIONstrindexer', 'HIPERTENSIONstrindexer'],
      dtype=object)

Por lo tanto, dado que en la tabla anterior se mostraron las 8 covariables top respecto a su desempeño en el score. De esta manera, las dos variables a eliminar serían *ASMA* e *INMUNOSUPRESION*.